let mapleader = " "

""" Idea Settings ---------------------------------------------------
set ideajoin
set ideamarks

""" Plugins  --------------------------------------------------------
set surround
set highlightedyank
set NERDTree
set multiple-cursors
set easymotion
set vim-paragraph-motion
set textobj-indent
set textobj-entire
set argtextobj
set ReplaceWithRegister
set exchange
set commentary " comment lines with gcc / gc in visual mode

""" Vim Settings ----------------------------------------------------
set relativenumber
set incsearch
set ignorecase
set smartcase
set incsearch
"set hlsearch

""" Plugins Settings ------------------------------------------------
" Reload
nnoremap <leader>so :source ~/.ideavimrc<CR>

nnoremap <leader>ioi :action OptimizeImports<CR>
